body {
  background-color: aliceblue;
}

.brillant {
  color: red;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aquamarine; */
  background: linear-gradient(90deg, #90ee90, #fff, #ca1919);
  background-size: 80%;
  background-repeat: no-repeat;

  opacity: 70%;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;

  /* L'animation :  */
  animation: animate 3s infinite;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: rgba(255, 255, 255, 10%);
  text-shadow: 3px 3px 0px black;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}



  /* 1>> Ajout d'un pseudo élément :
Pour créer le reflet, nous allons donc ajouter un pseudo-élément. 
Celui-ci va se superposer à notre élément, comme ceci :  */
  .mask a::after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #90ee90;
    text-shadow: #ca1919;
    /* 2>> Sur ce pseudo-élément, nous ajoutons un dégradé radial : */
    background: radial-gradient(circle farthest-side at 0 0,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, .8) 98%,
        rgba(255, 255, 255, 0) 100%) no-repeat;

    /* 3>> Animation du pseudo-élément
Il nous reste maintenant à animer le déplacement du dégradé. Pour cela, utilisons les transitions CSS sur la propriété background-position. Il est possible d’écrire ceci :

positionnement à gauche de -140px
lors du survol et du focus, positionnement à gauche de 10px + transition CSS */
background-position: -140px 0;

-webkit-mask: url('meme-image.png');
    mask: url('#id-masque');
}
.mask a:hover::after,
.mask a:focus::after{
    transition: background-position 1s;
    background-position: 10px 0;
    -webkit-mask: url('meme-image.png');
    mask: url('#id-masque');
  width: 10px;
    /* color: red;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center; */
  /* background-color: aquamarine; */
  /* background: linear-gradient(90deg, #90ee90, #fff, #ca1919);
  background-size: 80%;
  background-repeat: no-repeat;

  opacity: 70%;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;

  /* L'animation :  */
  /* animation: animate 3s infinite;
  -webkit-background-clip: border-box; 
  -webkit-text-fill-color: rgba(255, 255, 255, 0); */ */
  
}



  

